# MONGODB ASSIGNMENT

#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

1. MongoDB stores the data in flexible JSON like documents means fields can vary from document to document and the data structure can be changed over time. 
2. MongoDB contains a database in which it contains the collection and collection is a group of documents.
3. NoSQL is type of non-relational database which does not store the data in the form of table or in structured manner. 
4. NoSQL stands for Not only SQL. 
5. The scenario where the security, scalability and manageability is more important rather than flexibility and rapid development, there the MongoDB or more precisely non-relational databases are used.

#### Q2. State and Explain the features of MongoDB.

1. MongoDB is a non-relational database in which the data is stored in JSON like format. 
2. Features of MongoDB is as follows ->

> Schema-less database -> The one collection can contain different types of documents. 

> Document-Oriented -> In MongoDB, the data is stored in document rather than storing it in tables ,like the JSON format in the form of key-value pairs. 

> Indexing -> The field in the document can be indexed with the help of primary or secondry key. 

> Scalability -> MongoDB provides Scalability which means that the large amount of data can be chunked into smaller pieces and can be operated then. 

> Replication -> It creates multiple copies of the data and sends it to the different servers so that if one server fails,the data can be retrieved from another. 

> Aggregation -> It provides different Aggregation like aggregation-line, map-reduce function, single-purpose aggregation. 

> High performance -> The performance of MongoDB is very high as compared to other because of the features like scalability,replication,indexing,etc.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [14]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://datascientist:DY4yKc3Afy1HnZ1b@cluster0.vekzi8v.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [15]:
db = client['Amazon']

In [16]:
create_coll = db['MyCollection']

In [17]:
data = {'course_name' : 'Data Science Masters 2.0',
        'course_timing' : 'Flexible',
        'course_fees' : '3500'
       }

In [18]:
create_coll.insert_one(data)

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [19]:
data2 = {'course_available' : ['DSM','Web Dev','Java with DSA'],
         'mentors' : ['sudhanshu kumar','krish naik']
        }

In [20]:
create_coll.insert_one(data2)

In [21]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [22]:
create_coll.insert_many(data3)

In [23]:
for i in create_coll.find():
    print(i)

{'_id': ObjectId('64a2b1d5b45699065a26c314'), 'course_name': 'Data Science Masters 2.0', 'course_timing': 'Flexible', 'course_fees': '3500'}
{'_id': ObjectId('64a2b24eb45699065a26c315'), 'course_available': ['DSM', 'Web Dev', 'Java with DSA'], 'mentors': ['sudhanshu kumar', 'krish naik']}
{'_id': ObjectId('64a2b277b45699065a26c316'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a2b277b45699065a26c317'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a2b277b45699065a26c318'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a2b277b45699065a26c319'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a2b277b45699065a26c31a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a2b277b45699065a26c31b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a2b277b45699065a26c31c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a2b277b45699065a26c31d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a2b277b45699065a26c31e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a2b277b45699065a26c31f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a2b277b45699065a26c320'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a2b277b45699065a26c321'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
create_coll.find_one()

{'_id': ObjectId('64a2b1d5b45699065a26c314'),
 'course_name': 'Data Science Masters 2.0',
 'course_timing': 'Flexible',
 'course_fees': '3500'}

In [25]:
for i in create_coll.find({'name':'Ben'}):
    print(i)

{'_id': ObjectId('64a2b277b45699065a26c31e'), 'name': 'Ben', 'address': 'Park Lane 38'}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [26]:
# find() method can be used to query a MongoDB database means to retrieve the data. 
# create_coll is a collection I have created in above examples. 

for i in create_coll.find():
    print(i)

{'_id': ObjectId('64a2b1d5b45699065a26c314'), 'course_name': 'Data Science Masters 2.0', 'course_timing': 'Flexible', 'course_fees': '3500'}
{'_id': ObjectId('64a2b24eb45699065a26c315'), 'course_available': ['DSM', 'Web Dev', 'Java with DSA'], 'mentors': ['sudhanshu kumar', 'krish naik']}
{'_id': ObjectId('64a2b277b45699065a26c316'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a2b277b45699065a26c317'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a2b277b45699065a26c318'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a2b277b45699065a26c319'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a2b277b45699065a26c31a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a2b277b45699065a26c31b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a2b277b45699065a26c31c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a2b277b45699065a26c31d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a2b277b45699065a26c31e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a2b277b45699065a26c31f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a2b277b45699065a26c320'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a2b277b45699065a26c321'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [27]:
for i in create_coll.find({'address' : 'Park Lane 38'}):
    print(i)

{'_id': ObjectId('64a2b277b45699065a26c31e'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [29]:
create_coll.find_one()

{'_id': ObjectId('64a2b1d5b45699065a26c314'),
 'course_name': 'Data Science Masters 2.0',
 'course_timing': 'Flexible',
 'course_fees': '3500'}

In [30]:
create_coll.find_one({'course_fees':'3500'})

{'_id': ObjectId('64a2b1d5b45699065a26c314'),
 'course_name': 'Data Science Masters 2.0',
 'course_timing': 'Flexible',
 'course_fees': '3500'}

In [31]:
create_coll.find_one_and_delete({'address' : 'Park Lane 38'})

{'_id': ObjectId('64a2b277b45699065a26c31e'),
 'name': 'Ben',
 'address': 'Park Lane 38'}

In [32]:
for i in create_coll.find({'address' : 'Park Lane 38'}):
    print(i)
# The document containing the address 'Park Lane 38' has been deleted.

In [33]:
create_coll.find_one_and_replace({'course_fees':'3500'},{'course_fees':3500})

{'_id': ObjectId('64a2b1d5b45699065a26c314'),
 'course_name': 'Data Science Masters 2.0',
 'course_timing': 'Flexible',
 'course_fees': '3500'}

In [35]:
create_coll.find_one({'course_fees':'3500'})

In [36]:
create_coll.find_one({'course_fees':3500})

{'_id': ObjectId('64a2b1d5b45699065a26c314'), 'course_fees': 3500}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.