# Pandas Advance 2 Assignment

In [1]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name':course_name,'duration':duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1:2]

        course_name  duration
1  Machine Learning         3

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

> Both loc and iloc are used to extract data in a dataframe but the main difference between loc and iloc is that we can provide string indices or manual indices in a iloc but we have to provide only numeric indexes in loc as in built-in function and loc acts as a built-in function used for indexing and slicing. loc and iloc both are used as for indexing and slicing in pandas.DataFrame but as per the condition that we need numeric indexes or string indexes the need for loc and iloc function differs.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
new_df = df.reindex([3,0,1,2])

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

> The main difference between the above two outputs is that loc function returns the data present at index number 2 and iloc function returns the data present at index 2 i.e. in compiler it is 1. So,therefore it returns different data although the dataset is same.The index considered is based on original data not on reindex pattern

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.375988  0.606842  0.255269  0.602377  0.279485  0.232331
2  0.832872  0.093706  0.980891  0.255306  0.142481  0.025303
3  0.047954  0.317971  0.420279  0.683807  0.711510  0.524241
4  0.674315  0.169023  0.344928  0.647553  0.320876  0.187964
5  0.018627  0.102859  0.717679  0.189602  0.091247  0.597860
6  0.356361  0.642498  0.397163  0.953602  0.017456  0.227544

In [9]:
df1.mean()

column_1    0.384353
column_2    0.322150
column_3    0.519368
column_4    0.555374
column_5    0.260509
column_6    0.299207
dtype: float64

In [10]:
df1.std()[0:2]

column_1    0.326503
column_2    0.247957
dtype: float64

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [11]:
df1.loc[2:2,['column_1','column_2']] = ['0.243566','0.690518']

In [12]:
df1.mean()[0:2]

/tmp/ipykernel_292/3676035991.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.mean()[0:2]

column_3    0.519368
column_4    0.555374
dtype: float64

After converting 2nd row of column 1 and collumn 2 into string the dtype of column1 and column2 changed to object and finding the mean of data which is in string format is not possible so it is throwing a warning that:
> /tmp/ipykernel_119/3676035991.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning. df1.mean()[0:2]

> It means that the mean of only numeric values is possible not of string values

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

> Window tells us the distance between the current row and the row on which we are going to perform the operation.

> If window=1, it indicates that the distance between current row and the row on which we are going to perform an operation is 1 i.e. it's next row

> If window=2, it assumes the first value as NaN and then performs the operation on it considering every second row

1. Types of windows functions :- 

> There are four types of windows functions : 

> 1. Rolling Window -> Generic rolling windows support specifying windows as a fixed number of observations or variable number of observations based on an offset

> 2. Weighted Window -> Scipy must be installed in order to use these windows,this is the special type of window used in filtering and spectral estimation

> 3. Expanding Window -> An expanding window yields the value of an aggregation statistic with all the data available up to that point in time.

> 4. Exponentially Weighted Window -> An exponentially weighted window is similar to an expanding window but with each prior point being exponentially weighted down relative to the current point.

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [13]:
import pandas as pd
from datetime import datetime
current_day = datetime.now().day
current_month = datetime.now().month
current_year = datetime.now().year

current_hour = datetime.now().hour
current_minutes = datetime.now().minute
current_seconds = datetime.now().second

print('Current Day :' ,current_day)
print('Current Month :' ,current_month)
print('Current Year :' ,current_year)
print('Current Hour :' ,current_hour,'(in hours)')
print('Current Minutes :' ,current_minutes,'minutes')
print('Current Seconds :' ,current_seconds,'seconds')

Current Day : 12
Current Month : 7
Current Year : 2023
Current Hour : 16 (in hours)
Current Minutes : 4 minutes
Current Seconds : 37 seconds

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [19]:
import pandas as pd
from datetime import date,datetime
year = int(input('Enter a year : '))
month = int(input('Enter a month : '))
day = int(input('Enter a day : '))

dt1 = date(year,month,day)

year = int(input('Enter a year : '))
month = int(input('Enter a month : '))
day = int(input('Enter a day : '))

dt2 = date(year,month,day)

data = pd.date_range(start = str(dt1),end=str(dt2))
print(data)

Enter a year :  2023
Enter a month :  05
Enter a day :  21
Enter a year :  2023
Enter a month :  07
Enter a day :  23

DatetimeIndex(['2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
               '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05',
               '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09',
               '2023-06-10', '2023-06-11', '2023-06-12', '2023-06-13',
               '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-17',
               '2023-06-18', '2023-06-19', '2023-06-20', '2023-06-21',
               '2023-06-22', '2023-06-23', '2023-06-24', '2023-06-25',
               '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-29',
               '2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03',
               '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07',
               '2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11',
               '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15',
               '2023-07-16', '2023-07-17', '2023-07-18', '2023-07-19',
               '2023-07-20', '2023-07-21', '2023-07-22', '2023-07-23'],
              dtype='datetime64[ns]', freq='D')

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

> I am not able to understand this question

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [1]:
def show_chart(file_path):
    with open(file_path,'r') as csv_file:
        data = pd.Series(csv_file.read())
        data.plot()

In [7]:
import pandas as pd
data = pd.DataFrame([2,3,4,5,6,7,8])
data1 = data.to_csv()

In [8]:
show_chart(data1)

FileNotFoundError: [Errno 2] No such file or directory: ',0\n0,2\n1,3\n2,4\n3,5\n4,6\n5,7\n6,8\n'

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [10]:
data = {'Student Id':[1,2,3,4,5,6,7,8,9,10],'Test Score' : [85,90,80,75,85,82,78,85,90,85]}
df = pd.DataFrame(data)

In [11]:
df.to_csv('data.csv')

In [18]:
def read_csv_file(file_path):
    with open(file_path,'r') as csv_file:
        data2 = csv_file.read()
        data2['Student Id'].mean()

In [19]:
read_csv_file('data.csv')

TypeError: string indices must be integers