# Assignment

#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
df = pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print

In [2]:
lst = [2,35,67,66,54,4,45,68,1,2]
df1 = pd.Series(lst)
print(df1)

0     2
1    35
2    67
3    66
4    54
5     4
6    45
7    68
8     1
9     2
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data, and then print the DataFrame

In [3]:
dict1 = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [5]:
df2 = pd.DataFrame(dict1)

In [6]:
print(df2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

1. DataFrame is a two-dimensional data structure with labelled axes i.e. rows and columns.
2. DataFrame is a powerful tool used in machine learning and data science. 
3. Series is similar to DataFrame but the only difference is that the Series is a one-dimensional data structure which consists of n no. of rows and only one column. 
4. For example --> 

> import pandas as pd

> df = pd.DataFrame({

>     "Name": ["John Doe", "Jane Doe", "John Smith", "Jane Smith"],

>     "Age": [30, 25, 40, 35],

>     "City": ["New York", "Los Angeles", "Chicago", "San Francisco"]

> })

> print(df)

5. In the above example, the keys are Name,Age and City which are considered as column names and the values are considered as row names. We imported the pandas library and used the function pandas.DataFrame to convert the given dictionary into the format of DataFrame i.e. in rows and columns.

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Following are some functions used in Pandas DataFrame to manipulate data :-

> head() - returns first few rows of DataFrame,default is 5.

> tail() - returns last few rows of DataFrame,default is 5. 

> shape() - returns the dimension of DataFrame,eg - (3,5) shows that there are 3 rows and 5 columns in a DataFrame. 

> reshape() - is used to return the data in another dimension which is equal to same size as original.

> info() - returns the information about DataFrame about data type,class,no.of columns,memory used. 

> isna() - The function returns Boolean value indicating whether each value in a DataFrame is NaN or not. 

> fillna() - The function fills the missing values

> replace() - This replaces the values present with a different value. 

e.g if "df" is a dataframe, df.head() or df.tail() is used to return first and last few rows and df.info() is used to get some more information about dataframe and "df.shape()" is used to return the dimension of that dataframe and df.isna() function is used to find if there is any NaN values are present in a given dataframe.

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

> From Series,DataFrame and Panel, Series and DataFrame are both mutable in nature and Panel is immutable in nature. 

> Mutable means that we can modify the datafame after created i.e to change the add a row or column or to add change the values in existing rows and columns. 

> Immutable means that we can not modify the data after creating it. 

> Series and DataFrame, both are mutable in nature as we can modify the data in Series or DataFrame after also after creating it. 

> Panel is three-dimensional data structure which contains rows,columns and levels but it is immutable in nature as the data in "Panel" can not be modified once it is created.

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
# To create a DataFrame using multiple series,we can used pd.concat() function which will take list of Series as input and combines them into a DataFrame. 
## For example --> 

s1 = pd.Series([1,2,3,4,5,6],name="Numbers")
s2 = pd.Series(['a','b','c','d','e','f'],name="Alphabets")
s3 = pd.Series(['Kiwi','Mango','Apple','Pineapple','Watermelon','Dragon Fruit'],name="Fruits")

concatenated_dataframe = pd.concat([s1,s2,s3],axis=1) # (ignore_index==False by default,if it is true,Indexes are not given to the dataframe.)
print(concatenated_dataframe)

# In the above example, there are three series we have created and fron those three series the one dataframe is created using pd.concat() function by providing  "axis=1" which means to concat the given series along row.

   Numbers Alphabets        Fruits
0        1         a          Kiwi
1        2         b         Mango
2        3         c         Apple
3        4         d     Pineapple
4        5         e    Watermelon
5        6         f  Dragon Fruit